                        body {
                            font-family: 'Acme', sans-serif;
                        }
                        
                        Header {
                            font-family: 'Acme', sans-serif;
                            max-width: 75%;
                            background-color: #0d6b25;
                            color: #0a0000;
                        }
                        
                        .navbar {
                            display: inline-block;
                            background-color: #0000;
                            text-align: center;
                            padding: 30px, 10px, 10px, 10px;
                            color: #777777;
                        }
                        
                        button {
                            padding: 1px 6px 1px 6px;
                            margins: 30px, 10px, 10px, 10px;
                        }